{% macro showData(context) %}

<div class="container-fluid " style="width: 100%;">


    <div class="container-fluid row" style="justify-content: center;">
        {%for news, about, link, thumbnail, time in context %}
        <div class=" col-3 info" style="margin: 1rem; padding: 0rem 0.6rem; width: 30%;">
            <img src="{{thumbnail}}" alt="" style="height:30%   ;">
            <h4>{{news}}</h4> 
            <a href="{{link}}" target="_blank"><span>View on Site</span></a></h4>
            <p>  {{about}} </p>

            <p>Time Published: {{time}} </p>

        </div>
        {% endfor %}
    </div>

{% endmacro %}
