<!--  Navbar -->
<nav class="container-fluid navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">ilex News Hub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav" style="justify-content: space-between;">
        <li class="nav-item active">
        <a class="nav-link" href="/">ilex news</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/">Our News sources</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/cnn">CNN News</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/bbc">BBC News</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/verge">Google News</a>
        </li>


        
        <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            News Sources
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href=""></a>
            <a class="dropdown-item" href="/bbc">BBC News</a>
            <a class="dropdown-item" href="/cnn">CNN News</a>
            <a class="dropdown-item" href="/google">Google News</a>
            <a class="dropdown-item" href="#">CNN News</a> -->
        </div>
        </li>
    </ul>
    </div>
</nav>
