{% extends 'base.html' %}
{{super}}

<title>BBC News</title>
{% include 'navbar.html' %}

{% block content %}
<div class="desc">

    <h1 class="text-center m-2">Latest News</h1>

</div>

<div class="container-fluid row" style="margin: 0 auto;">

{%for name, description, url, id in context %}
    <div class=" col-3 info" style="margin: 1rem; width: 30%;">
        <!-- <p>{{name}} </p> -->
        <p><a href="{{url}} " target="_blank">{{name}}</a> </p>
        <p>{{description}} </p>
    </div>
{% endfor %}
    
</div>
{% endblock %}