{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

<body>
        
        <!-- Styles -->
        {% block styles%}
        {{ super() }}
        <link rel="stylesheet" href="{{url_for('static',filename='CSS/index.css')}}">
        {% endblock %}
        
        
<!-- Content block -->
{% block content %}
  {{ super() }}
  <!-- Sources section  -->
  <div class="container-fluid" id="app">
    <div class="row">

      <div class="col-md-3" id="sources">

        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" style="overflow: visible;" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <h3>All News</h3>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#">{{macro.displaySources(general)}}</a></li>
          </ul>
        </div>

        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <h3>Finance News</h3>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#">{{macro.displaySources(business)}}</a></li>
          </ul>
        </div>

        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <h3>Science News</h3>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#">{{macro.displaySources(science)}}</a></li>
          </ul>
        </div>

        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <h3>Health News</h3>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#">{{macro.displaySources(health)}}</a></li>
          </ul>
        </div>

        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <h3>Tech News</h3>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#">{{macro.displaySources(technology)}}</a></li>
          </ul>
        </div>

        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <h3>Entertainment News</h3>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#">{{macro.displaySources(entertainment)}}</a></li>
          </ul>
        </div>

        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          <h3>Sports News</h3>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#">{{macro.displaySources(sports)}}</a></li>
          </ul>
        </div>
      </div>
            
        
        <div class=" container col-md-9 toggle-topics" id="articles">
          <h3 style="text-align: center; font-weight: 700;">Latest Updates</h3>
          <hr>
          <div style="display:flex; flex-wrap:wrap; ">
            <!-- <div class="" id="articles" style=" margin-right:10px; height: 100%; width: 100%; display:flexbox;"> -->
            {% for i in top %}
              <!-- <div class="col-md-3" style="margin-right: 20px; padding-right: 20px;"> -->
                <div class=" card col-md-4  col-md-6 m-2 p-2" style="display:grid; flex-wrap:wrap; ">
                    <img  src="{{i.image}}" class="card-img-top img-fluid" alt="" style="height:200px; width:300px;">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold"> {{i.title}} </h5>
                        <p class="card-text"> {{i.description}} </p>
                        <p class="card-text font-italic"> Source : {{i.source}} </p>
                        <a href="{{i.link}}" class="btn btn-primary" style=" bottom:10px;">Read more...</a>
                    </div><br>
                  </div>
              <!-- </div><br> -->
            {% endfor %}
          </div>
        </div>
    
    </div>
  </div>
  
{% endblock %}

</body>

</html>